//colors
$black: #000;
$white: #fff;

$gray: #808080;
$gray-ee: #eee;
$gray-19: #19191a;
$gray-29: #292b2c;
$gray-ce: #cecfd1;
$gray-7f: #7f8183;
$gray-85: #858585;
$gray-17: #17171a;
$gary-50: #504f55;
$gray-46: #464749;
$gray-33: #333333;
$gray-0a: #0a0a0a;
$gray-48: #48494b;
$gray-d1: #d1d1d3;
$gray-0f: #0f0f0f;
$gray-71: #717272;


$red-c8: #c85374;
$red-e1: #e11667;
$red-e4: #e44284;
$red-c6: #c65374;
$red-ca: #ca5979;

//width
$w-mobile: 480px;
$w-desktop: 1240px;