- var nav = [{url: '/', name: 'Главная'}, {url: '#', name: 'Афиша'}, {url: '#', name: 'Новости'}, {url: '#', name: 'Артисты'}, {url: '#', name: 'Абонементы'}, {url: '#', name: 'Фестивали', parent: 'y'}, {url: '#', name: 'О филармонии', parent: 'y'}, {url: '#', name: 'Медиа', parent: 'y'}, {url: '#', name: 'Контакты'}];
- var child = [{url: '#', name: 'Фестивали 1', parent: 'Фестивали'},{url: '#', name: 'Фестивали 2', parent: 'Фестивали'},{url: '#', name: 'История', parent: 'О филармонии'},{url: '#', name: 'Услуги', parent: 'О филармонии'},{url: '#', name: 'Документы', parent: 'О филармонии'},{url: '#', name: 'Фотогаллерея', parent: 'Медиа'},{url: '#', name: 'Видеогаллерея', parent: 'Медиа'}]

mixin navItem(url, name, parent, current)
    li.header-menu__items
        a.header-menu__links(class=name==current ? 'header-menu__links_active' : '', href=url, title=name)= name
        if parent=='y'
            i.fa.fa-chevron-down
            .header-menu__child-w
                ul.header-menu__child
                    each item in child
                        if item.parent==name
                            li.header-menu__child-li
                                a.header-menu__child-a(href=item.url)= item.name