footer.footer
    .footer__line1
        .container
            .footer__wrapper
                .footer__logo
                    a.footer-logo(href="/")
                .footer__contacts
                    .footer__ttl Контакты
                    .footer__txt.
                        Кассы театра работают с 12 до 19:00
                        часов по адресам: ул. Карла Маркса, 3
                        пл. Ленина, 1
                .footer__tel
                    .footer__ttl Номера телефонов
                    .footer__txt.
                        Администратор: 8 (8182) 20-84-34<br>
                        Касса театра: 8 (8182) 20-84-34<br>
                        Приемная директора : 8 (8182) 20-84-34
                .footer__links
                    .footer__ttl Ссылки
                    .footer__txt
                        a(href="#") Схема проезда<br>
                        a(href="#") Старая версия сайта<br>
                        a(href="#") Карта сайта
    .footer__line2
        .container
            .footer__wrapper2
                .footer__ss
                    .footer-ss
                        a.footer-ss__link(href="#")
                            i.fa.fa-vk
                        a.footer-ss__link(href="#")
                            i.fa.fa-instagram
                        a.footer-ss__link(href="#")
                            i.fa.fa-odnoklassniki
                        a.footer-ss__link(href="#")
                            i.fa.fa-facebook
                .footer__copyright Copyright © ГБУК АО «Поморская филармония» 2017 Все права защищены