extends core/_template

append sharedVars
    - var activeMenu = 'Фотоальбомы';

block title
    title=activeMenu

block content
    //workarea
    .workarea
        .container
            .page
                .page-header
                    .page-header__ttl
                        h1=activeMenu
                    .page-header__breadcrumbs
                        .breadcrumbs
                            a.breadcrumbs__item(href="#") Главная
                            span.breadcrumbs__item
                                i.fa.fa-angle-right
                            span.breadcrumbs__item(href="#")=activeMenu
                //end .page-header
                .page-body
                    .albums
                        - for (var i=0; i<8; i++)
                            a.albums__item.albums__item_foto(href="https://unsplash.it/500/500?image=101"+i data-fancybox="gallery" style="background-image:url(https://unsplash.it/500/500?image=101"+i+")")
                                .albums__ttl Название альбома
                    //end .albums
                //end .page-body
            //end .page
    //end workarea